################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
.vs/
/*/*/.vs
/*/*/bin/*
/*/*/obj/*
/P3/P3C8/Models/AccountHolder.cs
